absl-py
astor
backcall
bleach
certifi
chardet
Click
cycler
cymem
cytoolz
decorator
dill
docutils
Flask
Flask-Cors
future
gast
grpcio
html5lib
idna
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
kiwisolver
Markdown
MarkupSafe
matplotlib
mecab-python3
msgpack
msgpack-numpy
multicore
multiprocess
murmurhash
nltk
numpy
OpenNMT-tf
pandas
parso
pexpect
pickleshare
Pillow
plac
preshed
prompt-toolkit
protobuf
ptyprocess
pudb
Pygments
pyonmttok
pyparsing
python-crfsuite
python-dateutil
python-Levenshtein
pytz
pyvi
PyYAML
regex
requests
scikit-learn
scipy
simhash-py
simplegeneric
six
sklearn-crfsuite
spacy
subword-nmt
tabulate
tensorboard
tensorflow
tensorflow-serving-api
termcolor
thinc
toolz
torch
torchtext
torchvision
tqdm
traitlets
ujson
urllib3
urwid
wcwidth
Werkzeug
wrapt
